PC03-KalkulatorRPC/KalkulatorRPC.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/KalkulatorRPC/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KalkulatorRPC" targetNamespace="http://www.example.org/KalkulatorRPC/">
  <wsdl:message name="incRequest">
    <wsdl:part name="incRequest" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="incResponse">
    <wsdl:part name="incResponse" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="addRequest">
  	<wsdl:part name="arg1" type="xsd:int"></wsdl:part>
  	<wsdl:part name="arg2" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
  	<wsdl:part name="result" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subRequest">
  	<wsdl:part name="arg1" type="xsd:int"></wsdl:part>
  	<wsdl:part name="arg2" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subResponse">
  	<wsdl:part name="result" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="mulRequest">
  	<wsdl:part name="arg1" type="xsd:int"></wsdl:part>
  	<wsdl:part name="arg2" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="mulResponse">
  	<wsdl:part name="result" type="xsd:int"></wsdl:part>
  </wsdl:message>

  <wsdl:portType name="KalkulatorRPC">
    <wsdl:operation name="inc">
      <wsdl:input message="tns:incRequest"/>
      <wsdl:output message="tns:incResponse"/>
    </wsdl:operation>
    <wsdl:operation name="add">
    	<wsdl:input message="tns:addRequest"></wsdl:input>
    	<wsdl:output message="tns:addResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
    	<wsdl:input message="tns:subRequest"></wsdl:input>
    	<wsdl:output message="tns:subResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
    	<wsdl:input message="tns:mulRequest"></wsdl:input>
    	<wsdl:output message="tns:mulResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="KalkulatorRPCSOAP" type="tns:KalkulatorRPC">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inc">
      <soap:operation soapAction="http://www.example.org/KalkulatorRPC/inc"/>
      <wsdl:input>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://www.example.org/KalkulatorRPC/add"/>
      <wsdl:input>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://www.example.org/KalkulatorRPC/sub"/>
      <wsdl:input>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap:operation soapAction="http://www.example.org/KalkulatorRPC/mul"/>
      <wsdl:input>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.example.org/KalkulatorRPC/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="KalkulatorRPC">
    <wsdl:port binding="tns:KalkulatorRPCSOAP" name="KalkulatorRPCSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
