stare_projekty_jws/P41-WSSec-Serwer/SerwisOgloszeniowy_niezabezpieczony.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.ogloszenia/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SerwisOgloszeniowyService" targetNamespace="http://soap.ogloszenia/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.ogloszenia/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.ogloszenia/">
  <xs:element name="foto" type="tns:foto"/>
  <xs:element name="fotoResponse" type="tns:fotoResponse"/>
  <xs:element name="ogloszeniaWgCeny" type="tns:ogloszeniaWgCeny"/>
  <xs:element name="ogloszeniaWgCenyResponse" type="tns:ogloszeniaWgCenyResponse"/>
  <xs:element name="ogloszenieWgId" type="tns:ogloszenieWgId"/>
  <xs:element name="ogloszenieWgIdResponse" type="tns:ogloszenieWgIdResponse"/>
  <xs:element name="wszystkieOgloszenia" type="tns:wszystkieOgloszenia"/>
  <xs:element name="wszystkieOgloszeniaResponse" type="tns:wszystkieOgloszeniaResponse"/>
  <xs:element name="zapiszOgloszenie" type="tns:zapiszOgloszenie"/>
  <xs:element name="zapiszOgloszenieResponse" type="tns:zapiszOgloszenieResponse"/>
  <xs:complexType name="zapiszOgloszenie">
    <xs:sequence>
      <xs:element minOccurs="0" name="ogloszenie" type="tns:samochodowe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="samochodowe">
    <xs:complexContent>
      <xs:extension base="tns:ogloszenie">
        <xs:sequence>
          <xs:element minOccurs="0" name="marka" type="xs:string"/>
          <xs:element minOccurs="0" name="model" type="xs:string"/>
          <xs:element minOccurs="0" name="generacja" type="xs:string"/>
          <xs:element minOccurs="0" name="kolor" type="xs:string"/>
          <xs:element name="rocznik" type="xs:int"/>
          <xs:element name="przebieg" type="xs:int"/>
          <xs:element name="pojemnosc" type="xs:float"/>
          <xs:element name="moc" type="xs:float"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ogloszenie">
    <xs:sequence>
      <xs:element minOccurs="0" name="wystawione" type="xs:string"/>
      <xs:element minOccurs="0" name="cena" type="xs:decimal"/>
      <xs:element minOccurs="0" name="lokalizacja" type="xs:string"/>
      <xs:element minOccurs="0" name="tytul" type="xs:string"/>
      <xs:element minOccurs="0" name="opis" type="xs:string"/>
      <xs:element minOccurs="0" name="sprzedawca" type="tns:sprzedawca"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="id-sprzedawcy" type="xs:int"/>
  </xs:complexType>
  <xs:complexType name="sprzedawca">
    <xs:sequence>
      <xs:element minOccurs="0" name="nazwa" type="xs:string"/>
      <xs:element minOccurs="0" name="ulica" type="xs:string"/>
      <xs:element minOccurs="0" name="kod-pocztowy" type="xs:string"/>
      <xs:element minOccurs="0" name="miasto" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="telefon" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="zapiszOgloszenieResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foto">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fotoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="bajty" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ogloszeniaWgCeny">
    <xs:sequence>
      <xs:element minOccurs="0" name="min" type="xs:decimal"/>
      <xs:element minOccurs="0" name="max" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ogloszeniaWgCenyResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ogloszenie" type="tns:samochodowe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ogloszenieWgId">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ogloszenieWgIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ogloszenie" type="tns:samochodowe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wszystkieOgloszenia">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="wszystkieOgloszeniaResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ogloszenie" type="tns:samochodowe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BladBazyDanych" type="tns:BladBazyDanych"/>
  <xs:complexType name="BladBazyDanych">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NieznanyRekord" type="tns:NieznanyRekord"/>
  <xs:complexType name="NieznanyRekord">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="zapiszOgloszenie">
    <wsdl:part element="tns:zapiszOgloszenie" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ogloszeniaWgCeny">
    <wsdl:part element="tns:ogloszeniaWgCeny" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="zapiszOgloszenieResponse">
    <wsdl:part element="tns:zapiszOgloszenieResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ogloszenieWgIdResponse">
    <wsdl:part element="tns:ogloszenieWgIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wszystkieOgloszenia">
    <wsdl:part element="tns:wszystkieOgloszenia" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="foto">
    <wsdl:part element="tns:foto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NieznanyRekord">
    <wsdl:part element="tns:NieznanyRekord" name="NieznanyRekord">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BladBazyDanych">
    <wsdl:part element="tns:BladBazyDanych" name="BladBazyDanych">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fotoResponse">
    <wsdl:part element="tns:fotoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ogloszenieWgId">
    <wsdl:part element="tns:ogloszenieWgId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wszystkieOgloszeniaResponse">
    <wsdl:part element="tns:wszystkieOgloszeniaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ogloszeniaWgCenyResponse">
    <wsdl:part element="tns:ogloszeniaWgCenyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SerwisOgloszeniowy">
    <wsdl:operation name="zapiszOgloszenie">
      <wsdl:input message="tns:zapiszOgloszenie" name="zapiszOgloszenie">
    </wsdl:input>
      <wsdl:output message="tns:zapiszOgloszenieResponse" name="zapiszOgloszenieResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BladBazyDanych" name="BladBazyDanych">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="foto">
      <wsdl:input message="tns:foto" name="foto">
    </wsdl:input>
      <wsdl:output message="tns:fotoResponse" name="fotoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NieznanyRekord" name="NieznanyRekord">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ogloszeniaWgCeny">
      <wsdl:input message="tns:ogloszeniaWgCeny" name="ogloszeniaWgCeny">
    </wsdl:input>
      <wsdl:output message="tns:ogloszeniaWgCenyResponse" name="ogloszeniaWgCenyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BladBazyDanych" name="BladBazyDanych">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ogloszenieWgId">
      <wsdl:input message="tns:ogloszenieWgId" name="ogloszenieWgId">
    </wsdl:input>
      <wsdl:output message="tns:ogloszenieWgIdResponse" name="ogloszenieWgIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NieznanyRekord" name="NieznanyRekord">
    </wsdl:fault>
      <wsdl:fault message="tns:BladBazyDanych" name="BladBazyDanych">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="wszystkieOgloszenia">
      <wsdl:input message="tns:wszystkieOgloszenia" name="wszystkieOgloszenia">
    </wsdl:input>
      <wsdl:output message="tns:wszystkieOgloszeniaResponse" name="wszystkieOgloszeniaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BladBazyDanych" name="BladBazyDanych">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SerwisOgloszeniowyServiceSoapBinding" type="tns:SerwisOgloszeniowy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="zapiszOgloszenie">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="zapiszOgloszenie">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="zapiszOgloszenieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BladBazyDanych">
        <soap:fault name="BladBazyDanych" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="foto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="foto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fotoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NieznanyRekord">
        <soap:fault name="NieznanyRekord" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ogloszeniaWgCeny">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ogloszeniaWgCeny">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ogloszeniaWgCenyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BladBazyDanych">
        <soap:fault name="BladBazyDanych" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ogloszenieWgId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ogloszenieWgId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ogloszenieWgIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NieznanyRekord">
        <soap:fault name="NieznanyRekord" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BladBazyDanych">
        <soap:fault name="BladBazyDanych" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="wszystkieOgloszenia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="wszystkieOgloszenia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="wszystkieOgloszeniaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BladBazyDanych">
        <soap:fault name="BladBazyDanych" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SerwisOgloszeniowyService">
    <wsdl:port binding="tns:SerwisOgloszeniowyServiceSoapBinding" name="SerwisOgloszeniowyPort">
      <soap:address location="http://localhost:8080/P41-WSSec-Serwer-1.0/SerwisOgloszeniowy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>