PC12-Serwer_SAAJ/WebContent/hello.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="HelloService" targetNamespace="urn:szkolenie.jws.hello"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:szkolenie.jws.hello" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema version="1.0"
			targetNamespace="urn:szkolenie.jws.hello">
			<xs:element name="sayHello">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="repeat" minOccurs="0"
							type="xs:nonNegativeInteger" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="sayHelloResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="tns:sayHelloResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sayHello">
		<wsdl:part element="tns:sayHello" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Hello">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHello" name="sayHello">
			</wsdl:input>
			<wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sayHello">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHelloResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloService">
		<wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloPort">
			<soap:address location="http://localhost:8080/PC12-Serwer_SAAJ/Hello" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
