PC02-Xml/pliki/schema3.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="doc">
    <xsd:complexType>
    <xsd:choice maxOccurs="unbounded">
      <xsd:element ref="aaa"/>
      <xsd:element ref="bbb"/>
    </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="aaa">
    <xsd:complexType mixed="true">
    <xsd:sequence>
      <xsd:element ref="bbb" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  </xsd:element>

  <xsd:element name="bbb" type="xsd:string"/>
</xsd:schema>
