PC05-KalkulatorDocumentBare/WebContent/WEB-INF/wsdl/KalkulatorBare.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/KalkulatorBare/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KalkulatorBare" targetNamespace="http://www.example.org/KalkulatorBare/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/KalkulatorBare/">
      <xsd:element name="incInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="incOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="addInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg1" type="xsd:int"/>
            <xsd:element name="arg2" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="subInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg1" type="xsd:int"/>
            <xsd:element name="arg2" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="subOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="divInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg1" type="xsd:int"/>
            <xsd:element name="arg2" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="quotient" type="xsd:int"/>
            <xsd:element name="rest" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

	<!--  W stylu Document message odwołują się do nazw elementów XML.
		Konsekwencją jest to, że nawet dla najprostszych operacji parametry wejściowe i wyjściowe muszą być wcześniej zdefiniowane w schema.
	 -->
  <wsdl:message name="incRequest">
    <wsdl:part element="tns:incInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="incResponse">
    <wsdl:part element="tns:incOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part element="tns:addInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="subRequest">
    <wsdl:part element="tns:subInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="subResponse">
    <wsdl:part element="tns:subOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="divRequest">
    <wsdl:part element="tns:divInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="divResponse">
    <wsdl:part element="tns:divOutput" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="KalkulatorBare">
    <wsdl:operation name="inc">
      <wsdl:input message="tns:incRequest"/>
      <wsdl:output message="tns:incResponse"/>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest"/>
      <wsdl:output message="tns:addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input message="tns:subRequest"/>
      <wsdl:output message="tns:subResponse"/>
    </wsdl:operation>
    <wsdl:operation name="div">
      <wsdl:input message="tns:divRequest"/>
      <wsdl:output message="tns:divResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="KalkulatorBareSOAP" type="tns:KalkulatorBare">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inc">
      <soap:operation soapAction="http://www.example.org/KalkulatorBare/inc"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://www.example.org/KalkulatorBare/add"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://www.example.org/KalkulatorBare/sub"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <soap:operation soapAction="http://www.example.org/KalkulatorBare/div"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="KalkulatorBare">
    <wsdl:port binding="tns:KalkulatorBareSOAP" name="KalkulatorBareSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
